* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    background-color: rgb(21, 21, 85);
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    letter-spacing: -5px;
    color: rgb(216, 216, 216);
}

#slogan {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(196, 196, 196);
}