* {
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
    background-color: rgb(21, 21, 85);
}

.container {
    padding: 10px;
}

#header {
    background-color: rgb(39, 161, 209);
    border-radius: 2px;
}

#dr {
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 0px;
    border-top: 178px solid transparent;
    border-right: 550px solid aqua;
    position: absolute;
    right: 0%;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 65px;
    letter-spacing: -5px;
    color: rgb(216, 216, 216);
}

#slogan {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: rgb(196, 196, 196);
}